html,
body {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  background: linear-gradient(TO RIGHT, #e9f8ff, #90b2d8, #c1e3ff);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
