.itemContainer {
  width: 95%;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: "Lato", Arial, sans-serif;
  background: linear-gradient(-45deg, #eea38d, #eea2bf, #89cfe9, #a4e7d7);
  background-size: 400% 400%;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  box-shadow: 1px 2px;
}

.task {
  margin: 5px 0px;
}

.taskTitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 3px solid black;
  left: 50%;
  transform: translate(50%, -50%);
  padding: 2px;
}

.taskDescription {
  font-size: 13px;
}

.taskAction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskButton {
  border: none;
  background-color: teal;
  border-radius: 3px;
  padding: 8px;
  margin: 0px 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 12px;
}

.taskButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.taskProgress {
  font-weight: 700;
}
