.container {
  height: calc(100vh - 60px);
  display: flex;
  padding: 10px 20px;
}

.section {
  flex: 1;
  align-items: center;
}

.todo {
  /* background-color: aquamarine; */
}

.sectionTitle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border: 2px solid white;
}
